---
import NextImage from "../components/NextImage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Trip to Wadduwa pics</h1>
    <NextImage src="/wadduwa-01.jpg" height={600} width={600} />
  </main>
</Layout>
